.tab {
    display: inline-block;
    margin: 0.5rem 1rem;
    padding: 10px 20px;
    background-color: #3d5a80;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    position: relative;
  }
  
  .tab:hover {
    background-color: #ee6c4d;
  }